header{
  background-color: #52057b;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  padding:0 1rem;
}


header .nav{
  width: 98%;
  height: 5rem;
  margin:auto;
  min-width: 350px;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}

header .nav .logo{
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.2;

}
header .nav .btn{
  font-size: 30px;
  font-weight: 900;
  /* letter-spacing: 0.2; */
  border:none;
  background-color: transparent;
  color:white;
  position: relative;
  margin-left: auto;
}

.nav .btn .circle{
  display: flex;
  width: 1.2rem;
  height: 1.2rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  right:-0.25rem;
  top: -0.3rem;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: white;
  color:#52057b;
  border-top:1px solid #52057b;
}
.circle:hover{
  transform: scale(1.2);
}