@media(max-width:500px){
  .checkout-container.active{
    width: 96% !important;
  }
  .cart{
    width: calc(100vw - 1rem);
    max-height: calc(100vh - 2rem);
  }
  header .nav{
    width: 92%;
    padding:0.5rem;
    margin: auto;
  }
  header .nav .btn{
    max-width: 2.8rem;
    padding:0;
  }
  .cart-qty-toolkit{
    font-size: 1rem;
    margin-right: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 3rem;
  }
  .qty-btn{
    max-width: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cart-qty-toolkit 
  .qty-btn i{
    position: relative;
    font-size: 1.5rem;
  }
  .nav .btn .circle{
    right:-0.48rem;
    top:-0.48rem;
  }

  .products-container{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .products-container .card{
    margin: 1rem auto;
    width: 96%;
  }
}