@media(max-width:500px){
  .cart{
    width: calc(100vw - 1rem);
    max-height: calc(100vh - 2rem);
  }
  header .nav{
    width: 100%;
  }

  .nav .btn .circle{
    right:2rem;
    top: -0.25rem;
  }
}