
.checkout-container.active{
  visibility:visible;
  z-index: 999;
  position: fixed;
  width: 80%;
  min-width: 350px;
  max-width: 500px;
  // overflow: hidden;
  transition: transform 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  margin:auto;
  height: 80%;
  opacity: 1;
  box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.3), -3px -3px 10px rgba($color: #000000, $alpha: 0.3);
  background-color: white;
  top:51%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  overflow:hidden;
  .close-btn{
    position: absolute;
    color: white;
    right: 1rem;
    top:1rem;
    z-index: 1000;
  }
  .checkout-items{
    height: 18rem;
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#52057b; 
    }
    position: relative;
    .checkout-item {
      width: 100%;
      background-size: cover;
      background-position: center center;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #52057b;
      .checkout-item-content{
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        font-weight: 800;
        color: white;
        .checkout-item-details{
          font-size: large;
          font-weight: 600;
          display: flex;
          flex-direction: column;
          align-items: center;
        
        }
      }
    }
  }
  .checkout-totals{
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    display: flex;
    flex:1;
    margin:1rem auto;
    flex-direction: column;
    justify-content: space-between;
    div{
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-size: x-large;
      border-bottom: 3px solid #52057b;
    }
  }
  
  
  .order-btn{
    margin: 1rem auto;
    background-color: #52057b;
    color: white;
    font-weight: 800;
    font-size: 1.2rem; 
    border:none;
    display: block;
    border-radius: 5px;
    padding: 1rem 2rem;
    width: calc(100% - 2rem);
    max-width: 500px;
  }
}

.checkout-container.hidden{
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease-in;
  transform: translate(-140%, -50%);
}

.checkout-container{
  transform: translate(-140%, -50%);
  transition: transform 0.5s ease-in;
}