@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import './cart';
@import './header';
@import './main';
@import './card';
@import './util';
@import './animations';
@import './media';
@import './stripe-checkout';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #6155a6;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
  overflow-x: hidden;
}